<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Navbar -->
    <!-- Main Heading -->
    <header class="" id="">
        <div class="container">
            <h1>{{ page_title }}</h1>
        </div>
    </header>
    <!-- Main Container -->
    {% block content %}
    {% endblock %}
    <!-- Footer -->    
</body>
</html>