{% extends "base.html" %}

{% block content %}
<!-- Recipe Cards -->
<div class="mt-5">
    <div class="row justify-content-center">
        {% for recipe in recipes %}
        <div class="col-10 col-md-6 col-lg-4 align-self-center mb-4">            
            <div class="card recipes__card-image">
                <a href="#">
                    <img class="recipes__image" alt="Recipe Image" src="{{ recipe.image }}">
                </a>
            </div>            
        </div>
        <div class="col-10 col-md-5 pb-5">
            <div>
                <h3 class="underline text-center pt-3">
                    <a href="#">
                        {{ recipe.recipe_name }}</a>                        
                </h3>
                <div class="row justify-content-center">
                    <ul class="pt pt-lg-3">
                        <li class="fas fa-clock recipe__icon recipe__icon-right"> <span class="recipe__icon-text">Cook: {{ recipe.time }}</span></li>
                        <i class="fas fa-signal recipe__icon"> <span class="recipe__icon-text">Difficulty: {{ recipe.difficulty }}</span></i>                         
                    </ul>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-12 text-center">
                        <small><i class="far fa-user-circle user__icon"></i><strong> By</strong> {{ recipe.created_by }}</small>
                    </div>                               
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}